<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="shared/head :: head">
    <meta charset="UTF-8">
    <title>Create package</title>
</head>
    <body>
      <div th:replace="shared/menu :: navbar"></div>
      <div class="card m-4">
          <div class="card-header bg-info text-white">
              <h2>Create package</h2>
          </div>
          <div class="card-body bg-white">
              <form class="form" th:action="@{/package/save}" th:object="${package}" method="post">
                  <div class="form-group">
                      <label for="name">Name</label>
                      <input th:field="*{name}" type="text" id="name" class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="description">Description</label>
                      <input th:field="*{description}" type="text" class="form-control" id="description">
                  </div>
                  <button type="submit" class="btn btn-outline-primary"><i class="fas fa-plus"></i> create</button>
                  <a class="btn btn-outline-secondary" th:href="@{/package/list}"><i class="fas fa-long-arrow-alt-left"></i></a>
              </form>
          </div>
      </div>
    </body>
</html>