<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="shared/head :: head">
	<meta charset="UTF-8">
	<title>Add package</title>
    </head>
    <body>
	<div th:replace="shared/menu :: navbar"></div>
	<div th:fragment="tabla-packages" th:id="tabla-packages">
		<div class="card text-white bg-info m-4">
			<div class="card-header">
			<h2>Añadir paquete al cliente <small th:text="${customer.name}"></small></h2>
			</div>
			<div class="card-body bg-white text-dark">
				<div class="form-group row">
				<label th:if="${#lists.size(packagesNew)>0}" class="col-form-label text-right col-lg-3 col-sm-12">Paquete</label>
				<div class="col-lg-4 col-md-9 col-sm-12">
					<select th:if="${#lists.size(packagesNew)>0}" th:id="select-package" class="form-control">
					<option th:value= null>Seleccionar opción</option>
					<option th:each="package: ${packagesNew}"
						th:value="${package.id}"
						th:text="${package.name}"
						></option>
					</select>

				</div>
					<button th:if="${#lists.size(packagesNew)>0}" class="btn btn-outline-primary mr-1" title="add package" th:onclick="'addPackage('+ ${customer.id} +')'">
						<i class="fas fa-plus"></i>
					</button>
					<a class="btn btn-outline-secondary" th:href="@{/customer/list}" title="return">
						<i class="fas fa-long-arrow-alt-left"></i>
					</a>
				</div>

			<div class="card-footer bg-white">
				<div th:replace="shared/list-package :: list-package"></div>
			</div>
			</div>
		</div>
	</div>
	<div th:replace="shared/imports :: jquery"></div>
	<div th:replace="shared/imports :: js-add-package"></div>
    </body>
</html>
