<div th:fragment="form-register(usuario)">
    <div class="form-group">
        <label for="name" th:class="${#fields.hasErrors('name') ? 'text-danger' : ''}">Nombre</label>
        <input th:field="*{name}"
               type="text" id="name"
               placeholder="Juan Carlos Ortiz"
               th:class="${not #strings.isEmpty(usuario.name) && not #fields.hasErrors('name') ? 'form-control is-valid' : 'form-control'}"
               th:errorClass="is-invalid">
        <small th:if="${#fields.hasErrors('name')}"
               th:errors="*{name}"
               class="text-danger"></small>
    </div>
    <div class="form-group">
        <label for="name" th:class="${#fields.hasErrors('run') ? 'text-danger' : ''}">R.U.N</label>
        <input th:field="*{run}"
               placeholder="19414979-4"
               type="text"
               id="run"
               th:class="${not #strings.isEmpty(usuario.run) && not #fields.hasErrors('run') ? 'form-control is-valid' : 'form-control'}"
               th:errorClass="is-invalid">
        <small th:if="${#fields.hasErrors('run')}"
               th:errors="*{run}"
               class="text-danger"></small>
    </div>
    <div class="form-group">
        <label for="birth" th:class="${#fields.hasErrors('birth') ? 'text-danger' : ''}">Fecha nacimiento</label>
        <input th:field="*{birth}"
               type="date"
               id="birth"
               min="1910-01-01"
               max="2010-01-01"
               th:class="${not #strings.isEmpty(usuario.birth) && not #fields.hasErrors('birth') ? 'form-control is-valid' : 'form-control'}"
               th:errorClass="is-invalid">
        <small th:if="${#fields.hasErrors('birth')}"
               th:errors="*{birth}"
               class="text-danger"></small>
    </div>
    <div class="form-group">
        <label for="username" th:class="${#fields.hasErrors('user.username') ? 'text-danger' : ''}">Usuario</label>
        <input th:field="*{user.username}"
               type="text"
               id="username"
               placeholder="Gakusco"
               th:class="${not #strings.isEmpty(usuario.user.username) && not #fields.hasErrors('user.username') ? 'form-control is-valid' : 'form-control'}"
               th:errorClass="is-invalid">
        <small th:if="${#fields.hasErrors('user.username')}"
               th:errors="*{user.username}"
               class="text-danger"></small>
    </div>
    <div class="form-group">
        <label for="username" th:class="${#fields.hasErrors('user.password') ? 'text-danger' : ''}">Contraseña</label>
        <input th:field="*{user.password}"
               type="password"
               id="password"
               placeholder="******"
               th:class="${not #strings.isEmpty(usuario.user.password) && not #fields.hasErrors('user.password') ? 'form-control is-valid' : 'form-control'}"
               th:errorClass="is-invalid">
        <small th:if="${#fields.hasErrors('user.password')}"
               th:errors="*{user.password}"
               class="text-danger"></small>
    </div>
</div>