    <script th:fragment="jquery" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>

    <div hidden="hidden" th:fragment="alerts">
        <div id="success-alert" class="alert alert-success" th:if="${success}" th:text="${success}"></div>
    </div>

    <script th:fragment="js-alerts" type="text/javascript">

        const success  = $("#success-alert")
        if (success.text()) {
            Swal.fire("¡Éxito!", success.text(), "success")
        }
    </script>

    <div th:fragment="js-add-package">
        <script th:inline="javascript" type="text/javascript">
            /*<![CDATA[*/

            function addPackage(customerId) {
                let package = $('#select-package')
                const packageId = package.val();
                if(packageId) {
                    let url = '/customer/package/add/' + packageId + "-" + customerId;
                    $("#tabla-packages").load(url);    
                } else {
                    package.addClass("is-invalid")
                }
                
            }

            function deletePackage(packageId, customerId) {
                Swal.fire({
                    title: 'está seguro?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'eliminar',
                    cancelButtonText: 'cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        let url = '/customer/package/delete/' + packageId + "-" + customerId;
                        $("#tabla-packages").load(url);
                        Swal.fire(
                            'Eliminado!',
                            'El paquete ha sido retirado del cliente',
                            'success'
                        )
                    }
                })
            }

            /*]]>*/
        </script>
    </div>

    <div th:fragment="js-add-customer">
        <script th:inline="javascript" type="text/javascript">
            /*<![CDATA[*/

            function addCustomer(packageId) {
                let customer = $('#select-customer');
                const customerId = customer.val();
                if (customerId) {
                    let url = '/package/customer/add/' + packageId + "-" + customerId;
                    $("#tabla-customer").load(url);
                } else {
                    customer.addClass("is-invalid")
                }

            }

            function deleteCustomer(packageId, customerId) {
                Swal.fire({
                    title: 'está seguro?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'eliminar',
                    cancelButtonText: 'cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        let url = '/package/customer/delete/' + packageId + "-" + customerId;
                        $("#tabla-customer").load(url);
                        Swal.fire(
                            'Eliminado!',
                            'El cliente ha sido retirado del paquete',
                            'success'
                        )
                    }
                })
            }

            function deleteUser(id, menuActive){

            }

            /*]]>*/
        </script>
    </div>

    <div th:fragment="js-package">
        <script th:inline="javascript" type="text/javascript">
            /*<![CDATA[*/

            function enable(packageId) {
                let url = '/package/enable/' + packageId;
                $("#list-pack").load(url);
            }

            function disable(packageId) {
                let url = '/package/disable/' + packageId;
                $("#list-pack").load(url);
            }

            /*]]>*/
        </script>
    </div>

    <div th:fragment="js-user">
        <script th:inline="javascript" type="text/javascript">
            /*<![CDATA[*/

            function enabledUser(packageId, menuActive) {
                let url = '/'+menuActive+'/enable/' + packageId;
                $("#list-user").load(url);
            }

            function disabledUser(packageId, menuActive) {
                let url = '/'+menuActive+'/disable/' + packageId;
                $("#list-user").load(url);
            }

            /*]]>*/
        </script>
    </div>
