 <div class="card-body bg-white" th:fragment="list-package" th:id="list-package">
     <div class="form-group row">
         <input class="form-control col-2 ml-3" id="input-search" th:type="text" placeholder="Buscar">
     </div>

     <div id="table-search" class="row row-cols-1 row-cols-md-3 g-4 text-black-50">
         <div class="col" th:each="package : ${packages}">
             <div class="card h-100 body-table">
                 <a class="btn" th:href="@{'/package/ver/' + ${package.id}}" title="ver más">
                     <img th:src="${package.image}" class="card-img-top" alt="img.png">
                 </a>
                 <div class="card-body">
                     <div>
                         <a class="btn" th:href="@{'/package/ver/' + ${package.id}}" title="ver más">
                             <h5 class="card-title" th:text="${package.name}"></h5>
                         </a>
                     </div>
                     <span sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_GERENTE')"
                         th:if="${customer == null}" class="text-center">
                         <button th:if="${package.enable == true}" class="btn btn-outline-success" title="deshabilitar" th:onclick="'disable('+${package.id}+')'">
                             <i class="fas fa-check"></i>
                         </button>
                         <button th:if="${package.enable == false}" class="btn btn-outline-danger" title="habilitar" th:onclick="'enable('+${package.id}+')'">
                             <i class="fas fa-times"></i>
                         </button>
                     </span>
                     <span sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_AGENTE')"
                         th:if="${customer}" class="text-center">
                         <button class="btn btn-outline-danger" th:onclick="'deletePackage('+${package.id} + ',' + ${customer.id}+')'" title="eliminar paquete">
                             <i class="far fa-trash-alt"></i>
                         </button>
                     </span>
                     <span sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_GERENTE')"
                           th:if="${customer == null}" class="text-center">
                         <a th:if="${package.enable}" class="btn btn-outline-success" th:href="@{'/package/edit/' + ${package.id}}" title="editar paquete">
                             <i class="fas fa-edit"></i>
                         </a>
                         <button th:if="${not package.enable}" class="btn btn-outline-dark disabled">
                             <i class="fas fa-edit"></i>
                         </button>
                     </span>
                     <span sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR')"
                         th:if="${customer == null}" class="text-center">
                         <a th:if="${package.enable}" class="btn btn-outline-success" th:href="@{'/package/customer/' + ${package.id}}" title="agregar clientes">
                             <i class="fas fa-plus"></i>
                         </a>
                         <button th:if="${not package.enable}" class="btn btn-outline-dark disabled">
                             <i class="fas fa-plus"></i>
                         </button>
                     </span>
                 </div>
             </div>
         </div>
     </div>

    <div th:if="${#lists.size(packages)==0}" class="alert alert-danger"><p class="text-danger text-center">Lista vacía</p></div>
 </div>