<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="card-body bg-white" th:fragment="list-package">
        <table class="table" th:if="${#lists.size(packages)>0}">
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th th:if="${customer == null}" class="text-center" scope="col">Enable</th>
                <th scope="col" th:if="${customer}" class="text-center">Delete</th>
                <th scope="col" th:if="${customer == null}" class="text-center">Customers</th>
            </tr>
            </thead>
            <tbody th:each="package: ${packages}">
            <tr>
                <th scope="row" th:text="${package.id}" class="text-center"></th>
                <td th:text="${package.name}"></td>
                <td th:text="${package.description}"></td>
                <td th:if="${customer == null}" class="text-center">
                    <i th:if="${package.enable == true}" class="fas fa-check text-success"></i>
                    <i th:if="${package.enable == false}" class="fas fa-times text-danger"></i>
                </td>
                <td th:if="${customer}" class="text-center"><a class="alert alert-danger" th:onclick="'deletePackage('+${package.id} + ',' + ${customer.id}+')'" title="delete package"><i class="far fa-trash-alt"></i></a></td>
                <td th:if="${customer == null}" class="text-center"><a class="alert alert-success" th:href="@{'/package/customer/' + ${package.id}}" title="add customers"><i class="fas fa-plus"></i></a></td>
            </tr>
            </tbody>
        </table>
        <div th:if="${#lists.size(packages)==0}" class="alert alert-danger"><p class="text-danger text-center">List empty</p></div>
    </div>
</body>
</html>