<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <a class="navbar-brand" th:href="@{/}">Travel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li th:class="${menuActive == 'customers' ? 'nav-item active' : 'nav-item'}">
                <a class="nav-link" th:href="@{/customer/list}">Customers</a>
            </li>
            <li th:class="${menuActive == 'packages' ? 'nav-item active' : 'nav-item'}">
                <a class="nav-link" th:href="@{/package/list}">Packages</a>
            </li>
        </ul>
    </div>
</nav>
<div th:replace = "shared/imports :: navbar"></div>
</body>
</html>