<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <a class="navbar-brand" th:href="@{/}">Travel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li th:class="${menuActive == 'customer' ? 'nav-item active' : 'nav-item'}">
                <a class="nav-link" th:href="@{/customer/list}">Clientes</a>
            </li>
            <li th:class="${menuActive == 'manager' ? 'nav-item active' : 'nav-item'}">
                <a class="nav-link" th:href="@{/manager/list}">Gerentes</a>
            </li>
            <li th:class="${menuActive == 'agent' ? 'nav-item active' : 'nav-item'}">
                <a class="nav-link" th:href="@{/agent/list}">Agentes</a>
            </li>
            <li th:class="${menuActive == 'city' ? 'nav-item active' : 'nav-item'}">
                <a class="nav-link" th:href="@{/city/list}">Ciudades</a>
            </li>
            <li th:class="${menuActive == 'package' ? 'nav-item active' : 'nav-item'}">
                <a class="nav-link" th:href="@{/package/list}">Paquetes</a>
            </li>
        </ul>
    </div>
</nav>
